@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", serif;
}

header{
    position:sticky;
    top: 0px;
    left: 0px;
    z-index: 500;

}
.header_row{
    width: 100%;
    background-color: #d84e55;
    color: #fff;
    padding-top: 0.85rem;
}
.navigation_bar{
    width: 1128px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.navigation_bar>div{
    display: flex;
    gap: 1.75rem;
    align-items: center;
    
}
.navigation_bar>div:nth-child(1) img{
    width: 4.063rem;
    height: 2.625rem;
    cursor: pointer;
    filter: brightness(0) invert(1);
}
.navigation_bar a{
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 1.25rem 0.5rem;
}
.navigation_bar>div a:nth-child(3){
    border-bottom: 3px solid white;
    font-weight: 700;
}
.navigation_bar img{
    cursor: pointer;
    height: 24px;
    width: 24px;

}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.banner_container{
    height: auto;
    position: relative;
}
.banner_wraper{
    width: 100%;
    /* border: 2px solid green; */
    border-radius: var(--Radius-0, 0) var(--Radius-0, 0) var(--Spacing-48, 48px) var(--Spacing-48, 48px);
    overflow: hidden;
    position: relative;
}
.banner_overlay{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}
.banner_inside_box{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 9rem 0;
    height: 35.5rem;
    /* border: 2px solid rebeccapurple; */
    position: absolute;
    left: 0;
    top: 0;

    z-index: 55;
   
}
.banner_top_row{
    display: flex;
    width: 1128px;
    margin-bottom: 16px;
    margin-bottom: 16px;
    position: relative;
    top: 20px;
}
.banner_top_row a{
    cursor: pointer;
    text-decoration: underline;
}
.banner_top_row div{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.31px;
    color: #9f9eff;
    display: flex;
    
}
.banner_top_booking_box{
    text-align: center;
    margin-top: 40px;
}
.banner_top_booking_box>div:nth-child(2) span{
    font-weight: 700;
    color: #fff;
    font-size: 45px;
    line-height: 67.5px;
}
.banner_top_booking_box>div:nth-child(3) span{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    line-height: 27px;
    
}
.banner_bottom_box{
    width: 100%;
    height: 250px;
    border-radius: 72px;
    border: 1px solid #474747;
    background-color:rgba(92, 92, 92, .48);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.24);
    backdrop-filter: blur(25px);
    padding: 0 2rem 2rem;
    margin-top: 24px;
    /* border: 2px solid red;   */
     
}
.book_status_row{
    margin: 2rem 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
    gap: 1rem;
}
.selector_box{
    display: flex;
    align-items: center;
    background: #fff;
    cursor: pointer;
    padding: 8px 12px;
    gap: 16px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1d1d1d;
    height: 40px;
    justify-content: center;
} 
.selector_box_radio_border{
    display: flex;
    border: 2px solid #d84e55;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
}
.selector_box_radio_background{
    background-color: #d84e55;
    width: 10px;
    height: 10px;
    border-radius: 50%;

}
.banner_search_box_container{
    display: flex;
    border-radius: 32px;
    overflow: hidden;
    height: 112px;
    justify-content: space-between;
    position:relative;
}
.banner_search_box{
    display: flex;
    align-items: center;
    padding: 2.75rem 2.5rem;
    width: 20.8333333333%;
    border: 1px solid #f0f1f2;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    border-right: 1px solid #f0f1f2;
    
}
.exchange_icon{
    position: absolute;
    top: 36px;
    left: 218px;
    z-index: 1;
    cursor: pointer;
    width: 48px;
    height: 48px;
}
.train_icon{
    width: 32px;
    height: 32px;
}
.banner_search_box label{
    font-size: 18px;
    line-height: 16px;
    color: #1d1d1d;
    font-weight: 500;
    position: absolute;
    top: 3.2rem;
    left: 80px;
    cursor: pointer;
    
}
.search_btn{
    margin: 0;
    padding: .75rem 1rem;
    background: #d84e55;
    color: #fff;
    font-weight: 700;
    border: 1px solid #d84e55;
    font-size: 1.25rem;
    line-height: 24px;
    width: 17.2413793103%;
    letter-spacing: .1px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 0 32px 32px 0;
}
.search_input{
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
   
}
.search_input input{
    background-color: transparent;
    outline: none;
    border: none;
}
.date_txt{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 16px;
    cursor: pointer;
}
.day_year{
    font-size: .875rem;
    line-height: 1rem;
    font-weight: 500;
    color: #7e7e8c;
}
.date{
    font-weight: 600;
    font-size: 18px;
    color: #1d1d1d;
}
.free_cancelation_box{
    width: 26.3157894737%;
    background: #fff;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 12px
}
.checkbox_wrap{
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #4a4a4a;
    border-radius: 4px;
    cursor: pointer;
}
.offer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 54px;
    padding-top: 32PX;
    background-color: white;
    /* border: 2px solid blue; */
}
.offer_inside_bor_row{
    width: 1128px;
    margin: auto;
    /* border: 2px solid green; */
}
.offer_inside_bor_row h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    color: #3e3e52;
    text-align: center;
}
.offer_boxes_row{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    
}
.offer_card{
    display: flex;
    width: 352px;
    height: 160px;
    background-color: #f8f4f4;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 8px;
    cursor: pointer;
}
.offer_card>div:nth-child(1){
    margin: 16px 20px 14px 10px;
    display: flex;
    flex-direction: column;
    text-align: center ;
}
.offer_card>div img{
    margin-bottom: 8px;
    width: 100px;
}
.offer_card>div:nth-child(1) span{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
    color: #1034d9;
}
.offer_card>div:nth-child(2){
    margin: 16px 10px 12px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.offer_card>div:nth-child(2) h3{
    width: 90%;
}
.offer_card>div:nth-child(2) span{
    font-size: 14px;
    line-height: 17px;
    color: #3e3e52;
}
.offer_card>div:nth-child(2) button{
    font-size: 12px;
    padding: 6px 8px 4px;
    background-color: #e5ebf8;
    border: 1px dashed #3e3e52;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 800;
    color: #3e3e52;
    line-height: 20px;
    
}
.features_wraper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 9.75rem;
    height: 18.625rem;
    background-color: #f8f4f4;
}
.features_wraper .features-contant-box{
    width: 1128px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features-title{
    text-align: center;
}
.features-title h2{
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    color: #d84e55;
    margin: 4px;
}
.features-title p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3e3e52;

}
.features_list_boxes{
    display: flex;
    width: 1128px;
    color: #3e3e52;
    gap: 48px;
    
}
.feature-card{
    display: flex;
    align-items: center;
    
}
.feature-icon{
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-card-image img{
    width: 80%;
    height: 70%;
}

.feature-card-txt{
    font-size: 16px;
    line-height: 24px;
    margin: 2px 0;
}
.download-app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    
}
.download-app-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.download-app-inside h1{
    color: #3e3e52;
    font-weight: 400;
    font-size: 32px;
    padding: 20px 0;
    line-height: 40px;
}
.download-app-contant-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-box{
    width: 31.938rem;
}
.left-box div {
    background-color: white;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem 1rem 3rem;
    height: 72px;
    border: 1px solid #828282;
    border-radius: 12.5rem;
    cursor: pointer;
    margin-bottom: 16px;
}
.right-box{
    width: 38.563rem;
    height: 38.563rem;
}
.questions-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 9.75rem 6rem;
    background: #fff;
}
.questions-inside{
    width: 1128px;
}
.questions-inside h1{
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #3e3e52;
    margin: 25px 0;
}
.quetions-card{
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;

}
.quetions-card h4{
    color: #465986;
    font-size: 16px;
}
.quetions-card p{
    color: #3e3e52;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 14px;
}
.footer-wraper{
    padding: 48px;
    background-color: #1b2230;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-inside-box{
    width: 1128px;
    display: flex;
}
.footer-left-block{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.footer-columns{
    width: 25%;
    display: flex;
    flex-direction: column;
}
.footer-columns h4{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #7e7e8c;
    margin-bottom: 14px;
}
.footer-columns>ul li a{
    font-size: 10px;
    line-height: 20px;
    font-weight: 300;
}
.footer-right-block{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-right-block div{
    width: 4.063rem;
    height: 2.625rem;
}
.footer-right-block>div img{
    height: 100%;
    width: 100%;
}
.footer-right-block p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.footer-columns ul{
    font-size: 12px;
}













